:root {
    --color-1: #7b8d78;
    --color-2: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
}

body {
    background-image: url('/images/prism.png');
    background-size: cover;
}

.container {
    margin-top: 40px; 
    background-color: var(--color-2);
}


/* header start*/

#header {
    width: 100%;
    height: 40px;
    background-color: var(--color-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    height: 100%;
}
.logo {
    height: 30px;
    margin-bottom: 5px;
}
.logo-name {
    font-size: 30px;
    font-weight: 200;
    margin-top: 7px;
}
.header-menu-icon {
    color: black;
}

/* header end */

/* front title area */
#course-title {
   width: 100%;
   display: flex;
   justify-content: center;
   font-size: 40px;
   margin-top: 10px;
}

.card-title-container {
    width: 100%;
    background-color: var(--color-2);
}
.front-title {
    font-size: 30px;
}
#course-title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 40px;
 }
 
 .card-title-container {
     width: 100%;
     background-color: var(--color-2);
 }
 #tee-title {
    width: 100%;
    display: flex;
    justify-content: center;
 }

/* front title area end */

/* front table area */

#scorecard {
    background-color: white;
}
.table-1{
    display:flex;
    justify-content: space-between;
}
.player-input {
    margin-left: 10px;
}

/* front table area end */

/* back title area */

.back-title {
    font-size: 30px;
}

/* back title area end */

/* back table area */



/* back table area end */

/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* footer end */